<form class="search-container">
  <input
    type="text"
    class="search"
    placeholder="Enter"
    [formControl]="query"
  >
</form>
@if (isLoading()) {
  <app-loader></app-loader>
}
<ul>
  @for (item of gifs?.data; track item) {
    <li>
      <app-item [item]="item"></app-item>
    </li>
  }
</ul>

@if (gifs && gifs.pagination.total_count > pageSize) {
  <app-paginator
    [currentPage]="currentPage"
    [maxItems]="5"
    [pagesCount]="pageCount"
    (pageSelect)="changePage($event)"
  ></app-paginator>
}

